.contenedor-juego{
    display: flex;
    flex-direction: column;
    background-color: #343B55;
    width: 50%;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    margin-bottom: 30px;
    position: relative;
}

.contenedor-juego-on{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.contenedor-datos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
h3, h5{
    color: aliceblue;
    margin: 10px;
    text-align: center;
}
p{
    color: aliceblue;
}

.cronometro-img{
    border-radius: 100%;
    background-color: rgb(14, 44, 44);
    height: 250px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cronometro{
   
    border-radius: 100%;
    background-color: aqua;
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

.tiempo{
    background-color: aliceblue;
    width: 80%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p{
        color: black;
        font-weight: 400;
        text-align: center;
        margin: 10px;
    }
}
.contenedor-botones{
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 95%;
}

.btn{
    color: #343B55;
    background: #f89bed;
    flex-grow: 0.5;
    font-weight: bold;
    margin:10px 10px;
    
}

.btn:hover{
    
    background: #FFC2F8; 
    color: #343B55;
    
}

.icono-vida{
    height: 50px;
}

.mensaje-perdiste{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #84f3fb;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 70%;

    p, h5{
        color: #343B55; 
        font-weight: bold;
    }
}

.hidden {
    visibility: hidden; 

}
.visible {
    visibility: visible; 

}

.gif{
    height: 290px;
    border-radius: 20px;
}
.reglas{
    margin: 10px 10px 0px 10px;
    text-align: justify;
}
.game-over{
    border-radius: 20px;
}