<div class="contenedor">
    <h1>SALA DE JUEGOS</h1>
    <div class="flex-container" *ngIf="this.auth.currentUser">
        <div class="card">
            <div>
                <img src="https://firebasestorage.googleapis.com/v0/b/mini-games-arena.appspot.com/o/gif-ahorcado.gif?alt=media&token=4169bde6-11af-4e7c-8144-9e3cf4d70f4c"
                    alt="gif animado de guillotina">
            </div>
            <div class="card-body">
                <div>
                    <h3 class="card-title">Ahorcado</h3>
                </div>
                <div>
                    <p class="card-text">Un juego donde se debe adivinar
                        una palabra secreta letra por letra. Cada vez que el jugador sugiere una letra incorrecta, se
                        dibuja una parte del cuerpo en una horca. Objetivo: adivinar la palabra antes de que se termine de dibujar
                        la figura del ahorcado.</p>
                    <button [routerLink]="['ahorcado']" class="btn">JUGAR</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div>
                <img src="../../../assets/gif/gif-quiz.gif" alt="gif animado de ruleta de preguntas">
            </div>
            <div class="card-body">
                <div>
                    <h3 class="card-title">Preguntados</h3>
                </div>
                <div>
                    <p class="card-text">La trivia de preguntas es un juego en el que los jugadores responden preguntas
                        relacionadas exclusivamente con la serie de televisión Rick and Morty. Cada respuesta correcta otorga
                        puntos, mientras que las respuestas incorrectas no suman.</p>
                    <button [routerLink]="['preguntados']" class="btn">JUGAR</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div>
                <img src="../../../assets/gif/gif-cartas.gif" alt="gif animado de cartas">
            </div>
            <div class="card-body">
                <div>
                    <h3 class="card-title">Mayor o menor</h3>
                </div>
                <div>
                    <p class="card-text">Juego de cartas en el que los jugadores deben adivinar si
                        la próxima carta revelada será mayor o menor que la carta actual. Si la predicción es correcta, suma 1 punto; si
                        es igual, no suma puntos; si la predicción es incorrecta, pierdes.</p>
                    <button [routerLink]="['mayor-menor']" class="btn">JUGAR</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div>
                <img src="../../../assets/gif/cronometro.gif" alt="gif animado de cronometro">
            </div>
            <div class="card-body">
                <div>
                    <h3 class="card-title">Detén el tiempo</h3>
                </div>
                <div>
                    <p class="card-text">Este juego de precisión en donde el jugador debe parar
                        un cronómetro exactamente en un tiempo objetivo. Si logra detener el cronómetro en el tiempo preciso,suma 3
                        puntos. Si falla, ya sea por detenerse antes o después del tiempo exacto, pierde la partida..</p>
                    <button [routerLink]="['detener-tiempo']" class="btn">JUGAR</button>
                </div>
            </div>
        </div>

    </div>

    <div class="flex-container" *ngIf="!this.auth.currentUser">
            <div class="card card-logout" style="width: 25rem; background-color:#343B55;">
                <div class="card-body">
                    <div>
                        <img src="../../../assets/gif/gif-joystic-unscreen.gif" alt="joystic-gif">
                    </div>
                  <h3 class="card-title">¡Hola!</h3>
                  <p class="card-text">Para poder disfrutar de los juegos de Mini Games Arena, debés <a [routerLink]="['login']" class="card-link">Iniciar sesión</a>.</p>
                  <p>¿No tenés una cuenta? Te invitamos a <a [routerLink]="['registro']" class="card-link">registrate aquí</a>.</p>
                  
                  
                </div>
              </div>
    </div>
</div>

