.contenedor-home{
    min-height: 100vh;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 60px;
    padding: 20px;
}

.card {
    text-align: center;
    border: 2px solid #343B55; 
    padding: 15px;
    border-radius: 20px;
}
.card h3{
    font-weight: 600;
}
.card p{
    text-align: justify;
    font-weight: 600;
    font-size: 16px;
    padding: 5px;
}
.btn{
    /* background-color: #d4388b;  */
    /* background-color: #8a2259; */
    color: #ffffff;
    background-color: #343B55;
    
}
.btn a{
    font-weight: bolder;

}