

.flex-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center;
    gap: 40px; 
    padding: 20px;
    flex-grow: 1;
}


.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 2px solid #343B55; 
    padding: 15px;
    border-radius: 20px;
    /* max-width: 350px; */
    width: 350px;
    max-height: 600px;
}
.card h3{
    font-weight: 600;
}
.card p{
    text-align: justify;
    font-weight: 600;
    font-size: 14px;
    padding: 5px;
}
.btn{
    /* background-color: #d4388b;  */
    /* background-color: #8a2259; */
    color: #ffffff;
    background-color: #343B55;
    align-self: center; 
    font-weight: bold;
    
}

.btn:hover{
    background: #FFC2F8; 
    color: #343B55;
}

.card-body {
    display: flex;
    flex-direction: column;

}



.flex-card{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center;
    flex-grow: 1;
}

.card-title{
    font-weight: 900;
}

.card-logout{
    width: 25rem; 
    background-color:#343B55;
    color: aliceblue;
    p, a{
        font-size: medium;
    }
    a{
        color:#FFC2F8;  
    }
}