<nav class="navbar navbar-expand-lg navbar-color">
    <div class="container-fluid">
        <div>
            <button class="imagen-boton"  [routerLink]="['/home']">
                <img src="../../../assets/img/LOGO-SINFONDO2.png" alt="" class="logo-navbar">
            </button>
        </div>
        <div id="navbarSupportedContent">
            <ul class="nav nav-underline navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link"  [routerLink]="['']">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['sobre-mi']">Sobre mí</a>
                </li>
                <li class="nav-item" *ngIf="!this.auth.currentUser">
                    <a class="nav-link" [routerLink]="['login']">Inicie Sesión</a>
                </li>
                <li class="nav-item" *ngIf="this.auth.currentUser">
                    <a class="nav-link " (click)="cerrarSesion()"><img src="../../../assets/icons/boton-de-encendido-apagado.png" alt="">Cerrar Sesión</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Dropdown
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
