.navbar-color {
    height: 10vh;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-link {
    color: #343B55; 
    font-weight: bolder;
    padding: 0;
}


.logo-navbar {
    width: 200px;
}

.imagen-boton {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}
li{
    padding: 5px;
}

.dropdown{
    min-width: 160px;
}

