<div class="contenedor">
    <h1>AHORCADO</h1>
    <div class="contenedor-juego">

        <div class="contenedor-juego-on">
            <div>
                <!-- <img src="../../../assets/img/horca.png" alt=""> -->
                <img [src]="'../../../assets/img/horca-' + (7 - vidasUsuario) + '.png'" alt="horca">
            </div>
            
            <!-- <p *ngFor="let letra of letrasPorAdivinar">{{letrasAcertadas.includes(letra) ? letra : '_'}}</p> -->

        
        <div class="botonera" *ngIf="!juegoFinalizado">
                <h3>Palabra a adivinar:</h3>
                <div class="palabra-oculta">
                    <p *ngFor="let letra of letrasPorAdivinar">{{mostrarLetra(letra)}}</p>
                </div>
                <button *ngFor="let letra of ahorcado.letras" (click)="letraSeleccionadaBotonera(letra)" [disabled]="letraUsada(letra)">{{letra}}</button>
            </div>

            <div class="contenedor-datos" *ngIf="!juegoFinalizado">
                <div>
                    <p>Score: {{score}}</p>
                </div>
                <div class="vidas-container">
                    <img *ngFor="let vida of vidas" [src]="vida ? '../../../assets/icons/vida.png' : '../../../assets/icons/sin-vida.png'" alt="corazones de vida" class="icono-vida">
                </div>
               
                <div [ngClass]="resultado ? 'visible' : 'hidden'">
                    <p>{{mesajeResultado}}</p>
                </div>
            </div>

        </div>


        <div *ngIf="juegoFinalizado" class="mensaje-perdiste">
            <h5>Perdiste</h5>
            <img src="../../../../../assets/img/horca-7.png" alt="imagen ahorcado">
            <p>Score total: {{score}}</p>
            {{mesajeResultado}}
            <div contenedor-botones>
                <button class="btn" (click)="reiniciarJuego()">Volver a jugar</button>
                <button class="btn" [routerLink]="['/home']">Volver al Home</button>
            </div>
            <div class="vidas-container">
                <img *ngFor="let vida of vidas" [src]="['../../../assets/icons/sin-vida.png']" alt="corazones de vida" class="icono-vida">
            </div>
        </div>
    </div>
</div>