<div class="contenedor-card">
    <H1>SOBRE MÍ</H1>
    <div class="card">
        <div class="card_landing">
        </div>

        <div class="card_info">
            <div class="head">
                <p class="title">¡Hola! Aquí Julieta Laplace</p>
            </div>
            <div class="content">
                <p>Tengo 33 años. <br>
                    Oriunda de Viedma, Río Negro. <br>
                    Cat Lady: soy esclava de mis dos gatos (Morty y Effy) <br>
                    Actualmente cursando las últimas cuatro (4) materias de la TUP en UTNFra. <br>
            </div>
            <div class="action">
                <a href="https://github.com/JuliLaplace" class="btn" target="_blank">Github</a>
            </div>
        </div>

        <div class="card_juego">
            <div class="head">
                <p class="title">Juego</p>
            </div>

            <div class="content">
                <p>Había pensado en desarrollar "Simón dice" como juego, pero tengo como segunda opción un juego de
                    "detener el cronómetro a tiempo": se muestra al usuario un tiempo obejtivo, y el usuario debe
                    detenerlo lo más cerca posible. Algo así como desactivar una bomba. ¿Divertido, no? <br> Como no
                    está totalmente definido, esta sección esta "EN PROGRESO"</p>
            </div>
            <div class="action">
                <a [routerLink]="['/simon-dice']" class="btn" target="_blank">Ir al Juego</a>
            </div>
        </div>
    </div>
</div>