<div class="contenedor">
    <H1>SOBRE MÍ</H1>
    <div class="card">
        <div class="card_landing">
        </div>

        <div class="card_info">
            <div class="head">
                <p class="title">¡Hola! Aquí Julieta Laplace</p>
            </div>
            <div class="content">
                <p>
                    <!-- Tengo 33 años. Oriunda de Viedma, Río Negro. <br>
                    En estos años viví en 7 ciudades distintas, actualmente resido en Capital Federal hace 3 años. <br>
                    Cat Lady: soy esclava de mis dos gatos (Morty y Effy). <br>
                    
                    Dato academico random: además de estar estudiando programación, soy trabajadora social. <br>
                    Cursando las últimas cuatro (4) materias de la TUP en UTNFra. <br> -->
                    Tengo 33 años y soy oriunda de Viedma, Río Negro. A lo largo de mi vida he vivido en siete ciudades distintas, y actualmente resido en la Ciudad de Buenos Aires (hace tres años).
                    Cat Lady: completamente a disposición de mis dos gatos, Morty y Effy.
                    Dato académico curioso: además de estar estudiando programación, soy trabajadora social. Actualmente, estoy cursando las últimas cuatro materias de la TUP en la UTN Facultad Regional Avellaneda (UTNFra).
                </p>   
            </div>
            <div class="action">
                <a href="https://github.com/JuliLaplace" class="btn" target="_blank">Github</a>


                <a href="https://linkedin.com/in/julieta-laplace" class="btn" target="_blank">Linkedin</a>
            </div>
        </div>

        <div class="card_juego">
            <div class="head">
                <p class="title">Juego: Detener el cronómetro a tiempo</p>
            </div>

            <div class="content">
                <p>
                    En este juego, el objetivo es detener un cronómetro en un tiempo específico que va cambiando mientras el jugador conserve vidas. El juego comienza con tres vidas, y el cronómetro debe ser detenido lo más cerca posible del tiempo establecido.
La puntuación se basa en la precisión al detener el cronómetro: 3 puntos por hacerlo exactamente en el tiempo, y de 2 a 1 punto si la diferencia es de hasta 1 segundo.
Se pierde una vida cuando la diferencia al detener el cronómetro es mayor a 1 segundo. El objetivo es conseguir la mayor puntuación antes de quedarse sin vidas.
                </p>
            </div>
            <!-- <div class="action">
                <a  class="btn" target="_blank">Ir al Juego</a>
            </div> -->
        </div>
    </div>
</div>