<div class="contenedor-card">
    <H1>SOBRE MÍ</H1>
    <div class="card">
        <div class="card_landing">
        </div>

        <div class="card_info">
            <div class="head">
                <p class="title">¡Hola! Aquí Julieta Laplace</p>
            </div>
            <div class="content">
                <p>Tengo 33 años. <br>
                    Oriunda de Viedma, Río Negro. <br>
                    Cat Lady: soy esclava de mis dos gatos (Morty y Effy) <br>
                    Actualmente cursando las últimas cuatro (4) materias de la TUP en UTNFra. <br>
                       </div>
            <div class="action">
                <a href="https://github.com/JuliLaplace" class="btn" target="_blank">Github</a>
            </div>
        </div>

        <div class="card_juego">
            <div class="head">
                <p class="title">Juego</p>
            </div>
    
            <div class="content">
                <p class="title">Simón Dice</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi explicabo tempore neque! Eveniet libero provident minus debitis, nam dolor eius, similique repellendus officia qui sapiente sequi voluptates omnis soluta amet.</p>
            </div>
            <div class="action">
                <a href="#" class="btn" target="_blank">Ir al Juego</a>
            </div>
        </div>
    </div>
</div>
