.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}

.login {
    background: #343B55;
    border: 1px solid #2d416d;
    border-radius: 30px;
    width: 360px;
    padding: 50px 30px;
    text-align: center;

    h1 {
        margin: 0 0 20px 0;
        padding: 0;
        font-size: 30px;
        color: #fff;
    }
    .contenedor-registro{
        padding: 0;
        margin-top: 0;
    }
    a {
        font-size: 19px;
        color: #fff;
        font-weight: 400;
    }
    a:hover{
        color: #FFC2F8;
    }
    p {
        color: aliceblue;
        margin-bottom: 0;
    }

    .error-login {
        margin-bottom: 15px;
        color: red;
        height: 10px; 
        visibility: hidden; 
        font-weight: bold;
    }
    .error-login.show {
        visibility: visible;
    }

    .contenedor-botones{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin-top: 20px;
    }
    .btn-ingreso{
        width: 90px;       
        height: 90px;      
        border-radius: 50%; 
        border: none;
        background-color: #ffffff;
        cursor: pointer;
    }
    .btn-ingreso:hover{
        background-color: #c6dcf9;
    }


}

.login-form {

    input[type="email"],
    input[type="password"] {
        width: 100%;
        border: 1px solid #343B55;
        padding: 12px 20px;
        color: #343B55;
        font-weight: 400;
        cursor: pointer;
    }


    input[type="submit"]  {
        font-weight: 400;
        display: block;
        margin: 20px auto ;
        width: 90%;
        border: none;
        border-radius: 3px;
        padding: 8px;
        font-size: 17px;
        color: #343B55;
        font-weight: 900;
    }
    input[type="submit"]:hover{
        background-color: #FFC2F8;
    }

    

}