  <div class="contenedor" *ngIf="!this.auth.currentUser">
    <div class="login">
      <h1>Inicie Sesión</h1>
      <form class="login-form" action="#">
        <label>
          <input type="email"  [(ngModel)]="email" name="email" required placeholder="Email">
        </label>
        <label>
          <input type="password" [(ngModel)]="pwd"  name="pwd" required placeholder="Contraseña">
        </label>
        <input type="submit" value="Ingresar" (click)="login()">
      </form>
      <div class="contenedor-registro">
        <p class="error-login" [class.show]="flagError">{{errorMsj}}</p>
        <p>¿No tiene una cuenta?</p>
        <a [routerLink]="['/registro']">Registrese</a>
      </div>
      <div class="contenedor-botones">
          <button class="btn-ingreso"><img src="../../../assets/icons/boton2.png" class="img-btn" (click)="registroAutomatico('ana')"></button>
          <button class="btn-ingreso"><img src="../../../assets/icons/boton1.png" class="img-btn"(click)="registroAutomatico('juli')"></button>
          <button class="btn-ingreso"><img src="../../../assets/icons/boton2.png" class="img-btn"(click)="registroAutomatico('morty')"></button>
      </div>

    </div>
  </div>