/* You can add global styles to this file, and also import other style files */
body{
    background-image: url("https://cdn.pixabay.com/photo/2021/07/17/02/54/pattern-6472168_960_720.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}